body {
    min-height: 100vh;
}

/* Hover untuk Navbar Dashboard */
.hover-head:hover {
    color: #212529 !important;
}

/* Hover untuk logout */
.logout-btn:hover {
    color: rgb(255, 255, 255) !important;
}

.btn-tambahdata {
    background-color: rgb(93, 241, 234) !important;
}

/* Hover untuk button Tambah Data */
.btn-tambahdata:hover {
    background-color: rgb(0, 255, 242) !important;
}

/* Utility Position */
.h2-tambahdata h3 {
    margin-top: 6rem;
}

/* Style utk footer */
footer {
    position: sticky;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 30px;
}

footer i {
    color: red;
}

footer a {
    text-decoration: none;
}